<div class="<%= container_classes %>" <%= tag.attributes(dismissible_data) %>>
  <div class="flex">
    <% if show_icon? %>
      <div class="flex-shrink-0">
        <% if @type == :error && type_config[:icon] == :x_circle_filled %>
          <svg class="h-5 w-5 <%= type_config[:icon_color] %>" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
          </svg>
        <% else %>
          <%= render Ui::IconComponent.new(
                name: type_config[:icon],
                size: 5,
                css_class: type_config[:icon_color]
              ) %>
        <% end %>
      </div>
    <% end %>
    
    <div class="ml-3 flex-1">
      <% if @title.present? %>
        <h3 class="text-sm font-medium <%= type_config[:text_color] %>">
          <%= @title %>
        </h3>
      <% end %>
      <% if @message.present? %>
        <div class="<%= @title.present? ? 'mt-2' : '' %> text-sm <%= type_config[:text_color] %>">
          <p><%= @message %></p>
        </div>
      <% end %>
      <% if content.present? %>
        <div class="<%= @title.present? || @message.present? ? 'mt-2' : '' %> text-sm <%= type_config[:text_color] %>">
          <%= content %>
        </div>
      <% end %>
    </div>
    
    <% if @dismissible %>
      <div class="ml-3">
        <button type="button" 
                class="-mx-1.5 -my-1.5 p-1.5 inline-flex rounded-md <%= type_config[:text_color] %> hover:bg-opacity-10 hover:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-<%= @type %>-50 focus:ring-<%= @type %>-600"
                data-action="click->alert#dismiss">
          <span class="sr-only">Dismiss</span>
          <%= render Ui::IconComponent.new(name: :x, size: 5) %>
        </button>
      </div>
    <% end %>
  </div>
</div>