<div class="<%= wrapper_classes %>" data-controller="data-grid">
  <table class="<%= table_classes %>">
    <thead class="bg-gray-50">
      <tr>
        <% if selectable %>
          <th scope="col" class="relative px-6 py-3">
            <input type="checkbox" 
                   class="form-checkbox h-4 w-4 text-primary-600 rounded border-gray-300"
                   data-action="change->data-grid#toggleAll"
                   aria-label="Select all rows">
          </th>
        <% end %>
        
        <% if columns? %>
          <% columns.each do |column| %>
            <%= render Ui::DataGridComponent::HeaderCellComponent.new(
              column: column,
              current_sort_key: current_sort_key,
              current_sort_direction: current_sort_direction
            ) %>
          <% end %>
        <% end %>
        
        <% if actions? %>
          <th scope="col" class="relative px-6 py-3">
            <span class="sr-only">Actions</span>
          </th>
        <% end %>
      </tr>
    </thead>
    
    <tbody class="bg-white divide-y divide-gray-200">
      <% if loading %>
        <%= loading_rows %>
      <% elsif data.empty? %>
        <tr>
          <td colspan="<%= (columns? ? columns.compact.size : 0) + (selectable ? 1 : 0) + (actions? ? 1 : 0) %>" class="px-6">
            <% if empty_state? %>
              <%= render Ui::DataGridComponent::EmptyStateComponent.new(
                custom_content: empty_state
              ) %>
            <% elsif empty_state_config %>
              <%= render Ui::DataGridComponent::EmptyStateComponent.new(
                message: empty_state_config[:message],
                icon: empty_state_config[:icon],
                show_icon: empty_state_config[:show_icon]
              ) %>
            <% else %>
              <%= render Ui::DataGridComponent::EmptyStateComponent.new %>
            <% end %>
          </td>
        </tr>
      <% else %>
        <% data.each_with_index do |item, index| %>
          <tr class="<%= row_classes(index) %>" 
              <%= "data-action='click->data-grid#rowClick' data-row-id='#{item.try(:id)}'" if options[:row_click] %>>
            <% if selectable %>
              <td class="px-6 py-4">
                <input type="checkbox" 
                       class="form-checkbox h-4 w-4 text-primary-600 rounded border-gray-300"
                       value="<%= item.try(:id) %>"
                       <%= 'checked' if selected.include?(item.try(:id)) %>
                       data-action="change->data-grid#toggleRow"
                       aria-label="Select row">
              </td>
            <% end %>
            
            <% if columns? %>
              <% columns.each do |column| %>
                <%= render Ui::DataGridComponent::CellComponent.new(item: item, column: column, compact: compact) %>
              <% end %>
            <% end %>
            
            <% if actions? %>
              <td class="px-6 py-4 text-right text-sm font-medium">
                <%= render Ui::DataGridComponent::ActionComponent.new(
                  item: item,
                  actions: build_actions_for_item(item),
                  **row_actions_config.except(:actions)
                ) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<style>
  .table-striped tbody tr:nth-child(odd) {
    @apply bg-gray-50;
  }
  
  .table-hover tbody tr:hover {
    @apply bg-gray-50;
  }
</style>