<td class="<%= cell_classes %>">
  <% if column.content_block %>
    <%= column.render_cell(item) %>
  <% elsif column.options[:link] %>
    <%= link_to formatted_value, column.options[:link].call(item), 
                class: "text-primary-600 hover:text-primary-900 font-medium" %>
  <% elsif column.options[:component] %>
    <%= render column.options[:component].new(item: item, value: value) %>
  <% else %>
    <%= formatted_value %>
  <% end %>
</td>