<div class="<%= wrapper_class %>">
  <% if should_render_label? %>
    <%= render_label %>
  <% end %>
  
  <%= render_field %>
  
  <% if hint.present? %>
    <%= render_hint %>
  <% end %>
  
  <% if has_errors? %>
    <%= render_errors %>
  <% end %>
</div>