<div class="<%= wrapper_class %>">
  <%= render_label if should_render_label? %>
  
  <div class="file-upload-container">
    <% if @drag_drop %>
      <%= render_drag_drop_zone %>
    <% else %>
      <%= render_standard_file_input %>
    <% end %>
    
    <%= render_file_list if @preview %>
    <%= render_progress_area if @progress %>
    <%= render_error_area %>
  </div>
  
  <%= render_hint if @hint %>
  <%= render_errors if has_errors? %>
</div>