<div class="<%= wrapper_class %>">
  <% if should_render_label? %>
    <%= render_label %>
  <% end %>
  <%= @form.select @attribute, formatted_options, select_html_options, select_options %>
  <% if @hint.present? %>
    <%= render_hint %>
  <% end %>
  <% if has_errors? %>
    <%= render_errors %>
  <% end %>
</div>